*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Light.eot");
  src: url("../fonts/Onest-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic CAT";
  src: url("../fonts/ComicCAT.eot");
  src: url("../fonts/ComicCAT.eot");
  src: url("../fonts/ComicCAT.eot?#iefix") format("embedded-opentype"), url("../fonts/ComicCAT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.eot");
  src: url("../fonts/Onest-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.eot");
  src: url("../fonts/Onest-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.eot");
  src: url("../fonts/Onest-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-ExtraBold.eot");
  src: url("../fonts/Onest-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Black.eot");
  src: url("../fonts/Onest-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Thin.eot");
  src: url("../fonts/Onest-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.button {
  transition: 0.3s;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.button_red {
  border-radius: 96px;
  background: #E13914;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 12px 40px;
}
.button_red:hover {
  box-shadow: 0px 2px 14px rgba(225, 57, 20, 0.8);
}
.button_red:disabled {
  color: rgba(255, 255, 255, 0.4);
}
.button_black {
  border-radius: 96px;
  background: #000000;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 12px 40px;
}
.button_black:hover {
  background: #E13914;
  box-shadow: 0 2px 14px rgba(225, 57, 20, 0.8);
}
.button_black:disabled {
  color: rgba(255, 255, 255, 0.4);
}
.button_grey {
  border-radius: 96px;
  background: #EEEEEE;
  border-radius: 96px;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  padding: 12px 20px;
}
.button_grey:hover {
  color: #FFFFFF;
  background: #E13914;
  box-shadow: 0 2px 14px rgba(225, 57, 20, 0.8);
}
.button_grey:disabled {
  color: rgba(255, 255, 255, 0.4);
}
@media screen and (min-width: 480px) {
  .button {
    font-size: 24px;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.header .logo {
  display: block;
}
.header .logo--main {
  height: 160px;
}
@media screen and (min-width: 480px) {
  .header .logo--main {
    height: 212px;
  }
}
@media screen and (min-width: 1024px) {
  .header .logo--main {
    height: 280px;
  }
}
@media screen and (min-width: 1600px) {
  .header .logo--main {
    height: 330px;
  }
}
@media screen and (min-width: 1920px) {
  .header .logo--main {
    height: 400px;
  }
}
.header .logo--clouds {
  height: 75px;
  overflow: hidden;
}
@media screen and (min-width: 1366px) {
  .header .logo--clouds {
    height: 98px;
  }
}
@media screen and (min-width: 1600px) {
  .header .logo--clouds {
    height: 114px;
  }
}
@media screen and (min-width: 1920px) {
  .header .logo--clouds {
    height: 137px;
  }
}

.play {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .play {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .play {
    margin-top: 130px;
  }
}
.play-virus {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .play-virus {
    position: absolute;
    right: 70px;
    top: 60px;
  }
}
@media screen and (min-width: 1366px) {
  .play-virus {
    right: 160px;
    top: -100px;
  }
}
@media screen and (min-width: 1600px) {
  .play-virus {
    right: 200px;
  }
}
@media screen and (min-width: 1920px) {
  .play-virus {
    right: 300px;
  }
}
.play-virus__icon_small {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .play-virus__icon_small {
    display: none;
  }
}
.play-button {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1366px) {
  .play-button {
    z-index: 10;
    position: sticky;
    top: 40vh;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.play-button__wrapper {
  position: relative;
}
.play-button__wrapper:hover img {
  animation: spin 3s infinite linear;
}
@media screen and (min-width: 425px) {
  .play-button {
    margin-top: 40px;
  }
}
.play-button__img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .play-button__img {
    width: 240px;
    height: 240px;
  }
}
.play-button__text {
  font-family: "Comic CAT", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.about {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1366px) {
  .about {
    margin-top: 0;
    width: 100%;
  }
}
.about-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .about-item {
    display: flex;
  }
}
@media screen and (min-width: 1366px) {
  .about-item {
    flex-direction: column;
    max-width: 425px;
  }
}
@media screen and (min-width: 1600px) {
  .about-item {
    max-width: 500px;
  }
}
@media screen and (min-width: 1920px) {
  .about-item {
    max-width: 600px;
  }
}
.about-item__img {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-item__img {
    display: inline;
  }
}
.about-item__img_fox {
  position: absolute;
  left: -80px;
  top: -50px;
}
@media screen and (min-width: 375px) {
  .about-item__img_fox {
    top: -90px;
    left: -60px;
  }
}
@media screen and (min-width: 425px) {
  .about-item__img_fox {
    top: -110px;
    left: -60px;
  }
}
@media screen and (min-width: 480px) {
  .about-item__img_fox {
    top: -144px;
    left: -60px;
  }
}
@media screen and (min-width: 768px) {
  .about-item__img_fox {
    top: -220px;
    left: 0;
  }
}
@media screen and (min-width: 1366px) {
  .about-item__img_fox {
    top: -144px;
    left: 0;
  }
}
.about-item__img_fox img {
  width: 144px;
  height: 140px;
}
@media screen and (min-width: 1366px) {
  .about-item__img_fox img {
    width: 181px;
    height: 175px;
  }
}
.about-item__img_tower {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-item__img_tower {
    display: inline-flex;
    position: absolute;
    top: -480px;
    right: 0;
  }
}
@media screen and (min-width: 1366px) {
  .about-item__img_tower {
    order: -1;
    top: -40px;
  }
}
.about-item__img_tower img {
  height: 382px;
}
@media screen and (min-width: 1366px) {
  .about-item__img_tower img {
    height: 231px;
  }
}
.about-item__title {
  position: relative;
}
.about-item__title:not(:first-child) {
  margin-top: 28px;
}
@media screen and (min-width: 425px) {
  .about-item__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 50px;
  }
}
@media screen and (min-width: 480px) {
  .about-item__title {
    gap: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-item__title {
    gap: 100px;
  }
}
@media screen and (min-width: 1366px) {
  .about-item__title {
    gap: 0;
  }
}
.about-item__title-text {
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}
@media screen and (min-width: 480px) {
  .about-item__title-text {
    font-size: 60px;
    line-height: 110%;
  }
}
.about-item__title-icon {
  position: relative;
  left: 180px;
}
@media screen and (min-width: 425px) {
  .about-item__title-icon {
    position: static;
    left: 230px;
  }
}
.about-item__title-image {
  display: none;
}
.about-item__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-top: 8px;
}
@media screen and (min-width: 425px) {
  .about-item__text {
    font-size: 28px;
    line-height: 130%;
  }
}
.about-item__text_red {
  color: #E13914;
}
@media screen and (min-width: 768px) {
  .about-item_fawkes {
    padding-right: 140px;
  }
}
@media screen and (min-width: 1366px) {
  .about-item_fawkes {
    padding-right: 0;
    margin-top: -155px;
  }
}
.about-item_lebedev {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .about-item_lebedev {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1366px) {
  .about-item_lebedev {
    margin-left: auto;
    margin-top: -320px;
  }
}
@media screen and (min-width: 1920px) {
  .about-item_lebedev {
    margin-top: -200px;
  }
}
.about-item_devil {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .about-item_devil {
    margin-top: 100px;
    gap: 50px;
    flex-direction: row-reverse;
  }
  .about-item_devil > .about-item__img {
    padding-top: 70px;
  }
}
@media screen and (min-width: 1366px) {
  .about-item_devil {
    flex-direction: column;
    gap: 0;
    margin-top: -290px;
  }
  .about-item_devil .about-item__img {
    display: none;
  }
  .about-item_devil .about-item__title-image {
    display: inline;
  }
  .about-item_devil .about-item__title {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .about-item_devil {
    margin-top: -150px;
  }
}

.planet {
  display: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .planet {
    display: block;
    margin: 80px -50px 0 -50px;
  }
}
@media screen and (min-width: 1366px) {
  .planet {
    margin: 0 -50px;
  }
}
@media screen and (min-width: 1600px) {
  .planet {
    margin: 0 -90px;
  }
}
@media screen and (min-width: 1920px) {
  .planet {
    margin: 0 -100px;
  }
}
.planet__wrapper {
  width: 100%;
}
.planet__img {
  display: none;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .planet__img {
    display: block;
    width: 100%;
  }
}
.planet__img_small {
  display: none;
}
@media screen and (min-width: 768px) {
  .planet__img_small {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .planet__img_small {
    display: none;
  }
}
.planet__timeline {
  position: absolute;
  display: none;
  width: 100%;
  top: -1150px;
  z-index: -1;
  pointer-events: none;
}
@media screen and (min-width: 1366px) {
  .planet__timeline {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .planet__timeline {
    top: -1200px;
  }
}

.footer {
  margin-top: 48px;
  width: 100%;
}
@media screen and (min-width: 1600px) {
  .footer {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    margin-top: 150px;
  }
}
.footer-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (min-width: 1366px) {
  .footer-images {
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
.footer-images__grogu {
  width: 100px;
  height: 112px;
}
@media screen and (min-width: 1366px) {
  .footer-images__callcenter {
    padding-bottom: 100px;
  }
}
.footer-images img {
  width: 160px;
}
.footer-images img:nth-child(2n+1) {
  display: none;
}
@media screen and (min-width: 1366px) {
  .footer-images img:nth-child(2n+1) {
    display: inline;
  }
}
@media screen and (min-width: 480px) {
  .footer-images img {
    width: 240px;
  }
}
.footer-share {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-share__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
@media screen and (min-width: 480px) {
  .footer-share__text {
    font-size: 28px;
    line-height: 130%;
  }
}
.footer-share__text--friends {
  display: none;
}
.footer-share__button {
  max-width: 360px;
}
@media screen and (min-width: 480px) {
  .footer-share__button {
    max-width: 380px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-share__button {
    max-width: 240px;
  }
}
.footer-share__wrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 375px) {
  .footer-share__wrapper {
    min-width: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-share__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
.footer-copyright {
  margin: 32px 0;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-copyright {
    margin: 58px 0;
    font-size: 18px;
    line-height: 130%;
  }
}

.results {
  margin-top: 25px;
}
@media screen and (min-width: 480px) {
  .results {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .results {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1920px) {
  .results {
    margin-top: 0;
  }
}
.results__wrapper {
  display: flex;
  justify-content: space-between;
}
.results__title {
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}
.results__title--red {
  color: #E13914;
}
@media screen and (min-width: 480px) {
  .results__title {
    font-size: 60px;
    line-height: 110%;
  }
}
@media screen and (min-width: 768px) {
  .results__title {
    text-align: left;
  }
}
@media screen and (min-width: 1366px) {
  .results__title {
    font-size: 78px;
  }
}
.results__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-top: 8px;
}
.results__text:first-of-type {
  margin-top: 25px;
}
@media screen and (min-width: 480px) {
  .results__text {
    font-size: 28px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1366px) {
  .results__text {
    max-width: 600px;
  }
}
@media screen and (min-width: 1600px) {
  .results__text {
    max-width: 720px;
  }
}

.results-img {
  display: none;
}
@media screen and (min-width: 1366px) {
  .results-img {
    display: block;
    min-width: 466px;
    min-height: 466px;
  }
}
.results-img img {
  max-width: 100%;
}

.share {
  margin-top: 40px;
}
@media screen and (min-width: 480px) {
  .share {
    margin-top: 56px;
  }
}
@media screen and (min-width: 768px) {
  .share {
    margin-top: 68px;
  }
}
@media screen and (min-width: 1366px) {
  .share {
    margin-top: 68px;
  }
}
@media screen and (min-width: 1600px) {
  .share {
    margin-top: 60px;
  }
}

.share-img {
  width: 160px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .share-img {
    width: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .share-img {
    width: 290px;
  }
}
.share-img__seeds {
  max-width: 100%;
}

.stickers {
  margin-top: 50px;
  background: #EEEEEE;
  border-radius: 48px;
  padding: 40px 20px;
  text-align: center;
  max-width: 1856px;
}
@media screen and (min-width: 480px) {
  .stickers {
    padding: 65px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .stickers {
    padding: 65px 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.stickers__title {
  font-family: "Comic CAT", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 480px) {
  .stickers__title {
    font-size: 40px;
  }
}
.stickers__text {
  margin-top: 8px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
@media screen and (min-width: 480px) {
  .stickers__text {
    font-size: 28px;
  }
}
.stickers__button {
  margin-top: 28px;
  max-width: 380px;
  font-size: 20px;
  z-index: 2;
}
@media screen and (min-width: 480px) {
  .stickers__button {
    font-size: 34px;
  }
}

.stickers-text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.stickers-images__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.stickers-images__top, .stickers-images__middle, .stickers-images__bottom {
  display: none;
  position: absolute;
}
@media screen and (min-width: 1366px) {
  .stickers-images__top {
    display: flex;
    top: -390px;
    gap: 1000px;
  }
}
@media screen and (min-width: 1600px) {
  .stickers-images__middle {
    display: flex;
    top: -200px;
    gap: 1200px;
  }
}
@media screen and (min-width: 1024px) {
  .stickers-images__bottom {
    display: flex;
    top: -70px;
    gap: 510px;
  }
}

.history {
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .history {
    margin-top: 300px;
  }
}
.history__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history__logo {
  max-width: 280px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .history__logo {
    max-width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .history__logo {
    max-width: 580px;
  }
}
@media screen and (min-width: 1024px) {
  .history__logo {
    max-width: 640px;
  }
}
.history__timeline {
  display: none;
  position: absolute;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .history__timeline {
    display: block;
    top: -200px;
  }
}
.history__button {
  margin-top: 24px;
  max-width: fit-content;
  font-size: 20px;
  z-index: 2;
}
@media screen and (min-width: 480px) {
  .history__button {
    margin-top: 50px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1024px) {
  .history__button {
    margin-top: 75px;
  }
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    padding: 0 90px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 120px;
  }
}

.container-win {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container-win {
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .container-win {
    padding: 0 65px;
  }
}
@media screen and (min-width: 1366px) {
  .container-win {
    padding: 0 85px;
  }
}
@media screen and (min-width: 1600px) {
  .container-win {
    padding: 0 100px;
  }
}
@media screen and (min-width: 1920px) {
  .container-win {
    padding: 0 120px;
  }
}

.content-wrapper {
  position: relative;
}