*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1960px;
  padding: 0 20px;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 50px;
  }
}

@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Light.eot");
  src: url("src/assets/fonts/Onest-Light.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic CAT";
  src: url("src/assets/fonts/ComicCAT.eot");
  src: url("src/assets/fonts/ComicCAT.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/ComicCAT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Regular.eot");
  src: url("src/assets/fonts/Onest-Regular.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Bold.eot");
  src: url("src/assets/fonts/Onest-Bold.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Medium.eot");
  src: url("src/assets/fonts/Onest-Medium.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-ExtraBold.eot");
  src: url("src/assets/fonts/Onest-ExtraBold.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Black.eot");
  src: url("src/assets/fonts/Onest-Black.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("src/assets/fonts/Onest-Thin.eot");
  src: url("src/assets/fonts/Onest-Thin.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/Onest-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.button {
  transition: 0.3s;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.button_red {
  border-radius: 96px;
  background: #E13914;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 12px 40px;
}
.button_red:hover {
  box-shadow: 0px 2px 14px rgba(225, 57, 20, 0.8);
}
.button_red:disabled {
  color: rgba(255, 255, 255, 0.4);
}
.button_black {
  border-radius: 96px;
  background: #000000;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 12px 40px;
}
.button_black:hover {
  background: #E13914;
  box-shadow: 0 2px 14px rgba(225, 57, 20, 0.8);
}
.button_black:disabled {
  color: rgba(255, 255, 255, 0.4);
}
.button_grey {
  border-radius: 96px;
  background: #EEEEEE;
  border-radius: 96px;
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  padding: 12px 40px;
}
.button_grey:hover {
  color: #FFFFFF;
  background: #E13914;
  box-shadow: 0 2px 14px rgba(225, 57, 20, 0.8);
}
.button_grey:disabled {
  color: rgba(255, 255, 255, 0.4);
}

.logo {
  height: 160px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .logo {
    height: 212px;
  }
}

.play {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .play {
    margin-top: 50px;
  }
}
.play-virus {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .play-virus {
    position: absolute;
    right: 70px;
    top: 60px;
  }
}
.play-virus__icon_small {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .play-virus__icon_small {
    display: none;
  }
}
.play-button {
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 425px) {
  .play-button {
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .play-button {
    margin-top: 0;
  }
}
.play-button__img {
  width: 200px;
  height: 200px;
}
@media screen and (min-width: 480px) {
  .play-button__img {
    width: 240px;
    height: 240px;
  }
}
.play-button__text {
  font-family: "Comic";
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 60px;
  }
}
.about-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .about-item {
    display: flex;
  }
}
.about-item:not(:first-child) {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .about-item:not(:first-child) {
    margin-top: 100px;
  }
}
.about-item__img {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-item__img {
    display: inline;
  }
}
.about-item__img_fox {
  position: absolute;
  left: -80px;
  top: -50px;
}
@media screen and (min-width: 375px) {
  .about-item__img_fox {
    top: -90px;
    left: -60px;
  }
}
@media screen and (min-width: 425px) {
  .about-item__img_fox {
    top: -110px;
    left: -60px;
  }
}
@media screen and (min-width: 480px) {
  .about-item__img_fox {
    top: -144px;
    left: -60px;
  }
}
@media screen and (min-width: 768px) {
  .about-item__img_fox {
    top: -220px;
    left: 0;
  }
}
.about-item__img_fox img {
  width: 144px;
  height: 140px;
}
.about-item__img_tower {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-item__img_tower {
    display: inline;
    position: absolute;
    top: -480px;
    right: 0;
  }
}
.about-item__img_tower img {
  height: 382px;
}
@media screen and (min-width: 768px) {
  .about-item_fawkes {
    padding-right: 140px;
  }
}
@media screen and (min-width: 768px) {
  .about-item_devil {
    flex-direction: row-reverse;
  }
  .about-item_devil > .about-item__img {
    padding-top: 70px;
  }
}
.about-item__title {
  position: relative;
}
.about-item__title:not(:first-child) {
  margin-top: 28px;
}
@media screen and (min-width: 425px) {
  .about-item__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 50px;
  }
}
@media screen and (min-width: 480px) {
  .about-item__title {
    gap: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-item__title {
    gap: 100px;
  }
}
.about-item__title-text {
  font-family: "Comic CAT", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}
@media screen and (min-width: 480px) {
  .about-item__title-text {
    font-size: 60px;
    line-height: 110%;
  }
}
.about-item__title-icon {
  position: relative;
  left: 180px;
}
@media screen and (min-width: 425px) {
  .about-item__title-icon {
    position: static;
    left: 230px;
  }
}
.about-item__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-top: 8px;
}
@media screen and (min-width: 425px) {
  .about-item__text {
    font-size: 28px;
    line-height: 130%;
  }
}
.about-item__text_red {
  color: #E13914;
}

.planet {
  display: none;
}
@media screen and (min-width: 768px) {
  .planet {
    display: block;
    margin: 80px -50px 0 -50px;
  }
}
.planet__wrapper {
  width: 100%;
}
.planet__img {
  display: none;
  width: 100%;
}
.planet__img_small {
  display: none;
}
@media screen and (min-width: 768px) {
  .planet__img_small {
    display: block;
  }
}

.footer {
  margin-top: 48px;
  width: 100%;
}
.footer-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer-images img {
  width: 160px;
}
.footer-images img:nth-child(2n+1) {
  display: none;
}
@media screen and (min-width: 480px) {
  .footer-images img {
    width: 240px;
  }
}
.footer-share {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-share__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
@media screen and (min-width: 480px) {
  .footer-share__text {
    font-size: 28px;
    line-height: 130%;
  }
}
.footer-share__wrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 375px) {
  .footer-share__wrapper {
    min-width: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-share__wrapper {
    flex-direction: row;
  }
}
.footer-copyright {
  margin: 32px 0;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-copyright {
    margin: 58px 0;
    font-size: 18px;
    line-height: 130%;
  }
}