.footer {
  margin-top: 48px;
  width: 100%;

  &-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    img {
      width: 120px;

      &:nth-child(2n+1) {
        display: none;
      }
    }
  }

  &-share {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      font-family: 'Onest', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }

    &__wrapper {
      margin-top: 16px;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &-copyright {
    margin-top: 52px;
    font-family: 'Onest', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
  }
}