.planet {
  display: none;
  position: relative;

  @media screen and (min-width: 768px) {
    display: block;
    margin: 80px -50px 0 -50px;
  }

  @media screen and (min-width: 1366px) {
    margin: 0 -50px;
  }

  &__wrapper {
    width: 100%;
  }

  &__img {
    display: none;
    width: 100%;

    @media screen and (min-width: 1024px) {
      display: block;
    }

    &_small {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__timeline {
    position: absolute;
    display: none;
    width: 100%;
    top: -1060px;
    z-index: -1;
    pointer-events: none;

    @media screen and (min-width: 1366px) {
      display: block;
    }

    @media screen and (min-width: 1600px) {
      top: -1200px;
    }

    @media screen and (min-width: 1920px) {
      top: -1260px;
    }
  }
}