.play {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }

  &-virus {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 70px;
      top: 60px;
    }

    &__icon {

      &_small {
        width: 40px;
        height: 40px;
        
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  &-button {
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 425px) {
      margin-top: -30px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    &__img {
      width: 200px;
      height: 200px;

      @media screen and (min-width: 480px) {
        width: 240px;
        height: 240px;
      }
    }

    &__text {
      font-family: 'Comic';
      font-size: 26px;
      line-height: 30px;
      font-weight: 400;
      color: #FFF;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
