.results {
  margin-top: 25px;

  @media screen and (min-width: 480px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 1366px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 1920px) {
    margin-top: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__title {
    font-family: 'Comic CAT', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    
    &--red {
      color: #E13914;
    }

    @media screen and (min-width: 480px) {
      font-size: 60px;
      line-height: 110%;
    }

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1366px) {
      font-size: 78px;
    }
  }

  &__text {
    margin-top: 25px;
  }
}

.results-img {
  display: none;

  @media screen and (min-width: 1366px) {
    display: block;
  }
}