.results {
  margin-top: 25px;

  @media screen and (min-width: 480px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 1366px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 1920px) {
    margin-top: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__title {
    font-family: 'Comic CAT';
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    
    &--red {
      color: #E13914;
    }
  }
}

.results-img {
  display: none;
}