*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1960px;
  padding: 0 20px;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}